node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.git
.github
.husky
.vscode
coverage
.nyc_output
*.log
*.swp
.DS_Store
.env
.env.*
!.env.example
.editorconfig
docs
tests
__tests__
*.md
!README.md
!LICENSE.md
tmp
temp
